@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap');

/* Cleared default styles */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
